# 10. 결측치
비어 있는 데이터

In [ ]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col= '지원번호')
df

### 데이터 채우기 fillna

In [ ]:
df.fillna(' ') # NaN 데이터를 빈 칸으로 채움

In [ ]:
df.fillna('없음')

In [ ]:
import numpy as np
df['학교'] = np.nan # 학교 데이터 전체를 NaN으로 채움
df

In [ ]:
df.fillna('모름',inplace = True) # inplace를 True로 설정하여 실제 데이터에 반영

In [ ]:
df

In [ ]:
df = pd.read_excel('score.xlsx',index_col= '지원번호')
df

In [ ]:
df['SW특기'].fillna('확인중',inplace = True) # SW특기 데이터 중에서 NaN에 대해서 채움

In [ ]:
df

### 데이터 제외하기 dropna

In [ ]:
df = pd.read_excel('score.xlsx',index_col= '지원번호')
df

In [ ]:
df.dropna(inplace = True) # 전체 데이터 중에서 NaN을 포함하는 데이터 삭제

In [ ]:
df

In [ ]:
df = pd.read_excel('score.xlsx',index_col= '지원번호')
df

- axis : index or columns (행,열을 선택)
- how : any or all (모든 데이터가 그 값을 가지는지, 하나의 데이터라도 그 값을 가지는지)

In [ ]:
df.dropna(axis = 'index', how = 'any') # NaN 가 하나라도 있는 row 삭제

In [ ]:
df.dropna(axis = 'columns', how = 'any') # NaN 이 하나라도 있는 column 삭제

In [ ]:
df['학교'] = np.nan
df

In [ ]:
df.dropna(axis = 'columns', how = 'all') # 모든 데이터가 NaN인 column 삭제